@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work_sans_style{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* shared style */
section{
    max-width: 1450px;
    margin: 0 auto;
}

.display_flex{
    display: flex;
}

.section_title{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(11, 2, 35, 1);

}

.section_description{
    color:rgba(83, 76, 100, 1);
    font-size: 1.12rem;
}

.title_color{
    color: rgba(255, 66, 165, 1);
}
.button_style{
    border: none;
    border-radius: 48px;
    background-color: rgba(255, 66, 165, 1);
    font-size: 1.25rem;
    padding: 21px 40px;
}
.icon_styles{
    font-size: 1.5rem;
}

/* nav-bar */
.navbar{
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.nav_container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 37px 0;
    justify-content: space-between;
    align-items: center;

}
.title{
    align-items: center;
    gap: 18px;
}
.nav_img{
    width: 40%;
    height: 40px;
}
.nav_title{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav_liks{
    align-items: center;
    gap: 30px;
}
.menu_items{
    text-decoration: none;
    font-size: 1.12rem;
    color:rgba(60, 53, 79, 1);
    font-weight: 500;
}
.menu_item{
    align-items: center;
    gap: 10px;
    background-color:rgba(11, 2, 35, 0.1);
    border-radius: 10px;
    padding: 16px 20px;
}
.icon_style{
    font-size: 1.5rem;
    color:rgba(246, 28, 13, 1);
}

/* header section */

.home_full_window{
    max-width: 100%;
}
.b_img{
    background-image: url("../resources/Group\ 14.png");
    background-repeat: no-repeat;
}
.home_container{
    max-width:1500px;
    margin: 0 auto;
}
.home_left{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.style_play{
    font-size: 3rem;
    font-weight: 600;
}
.style_goat{
    font-size: 6rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color: transparent;

}
.bt_sign{
    color: white;
    font-weight: 600;
    font-size: 1.25;
    margin: 25px 20px 0 0;
}
.bt_rouge{
    color: white;
    font-weight: 600;
    font-size: 1.25;
    background-color: rgba(78, 197, 247, 1);
}